.counter {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  transform: translateY(-50%);
  text-align: center;
}

.value {
  display: inline-block;
  width: 110px;
  margin: 20px;
  vertical-align: middle;
  font-size: 60px;
}

.button {
  vertical-align: middle;
  border: none;
  outline: none;
  background: none;
  font-size: 40px;

  &:hover {
    cursor: pointer;
    color: red;
  }
}
