{
  "extends": "airbnb",
  "rules": {
    "global-require": 0,
    "import/no-unresolved": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0
  }
}
