{
  "extends": "airbnb",
  "rules": {
    "global-require": 0,
    "import/newline-after-import": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "react/prefer-stateless-function": 0
  }
}
