.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 6rem;
  font-weight: 400;
  margin: 0.3em 0;
}

.message {
  font-size: 4rem;
  font-weight: 400;
  margin: 0.5em 0;
}
